.tile {
    display: flex;
    width: 45px;
    height: 45px;
}

.tile_picker_container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}

.btn {
    display: flex;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    background-color: inherit;
    cursor: pointer;

    &__icon {
        width: 20px;

    }
}

.controller_wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn_wrapper {
    display: flex;
    gap: 1rem;
}