.tile {
    display: flex;
    width: 45px;
    height: 45px;
}

.tile_picker_container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}